@page
@model ProiectMedii.Pages.Schedules.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Program de lucru</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Schedule.From" class="control-label"></label>
                <input asp-for="Schedule.From" class="form-control" />
                <span asp-validation-for="Schedule.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.To" class="control-label"></label>
                <input asp-for="Schedule.To" class="form-control" />
                <span asp-validation-for="Schedule.To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Schedule.EmployeeID" class="control-label">Numele angajatului</label>
                <select asp-for="Schedule.EmployeeID" class ="form-control" asp-items="ViewBag.EmployeeID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
